<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Freedom FM</title>
    <style>
        .main {
            display: inline-block;
        }
        .main-title {
            margin: 20px 0;
            font-size: 18px;
            font-weight: bold;
        }
        .code-field {
            border: 4px solid #177BB4;
            border-radius: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="main-title" th:text="#{verification.title}"></div>
        <div class="code-field"><h2 th:text="${verificationCode}"></h2></div>
    </div>
</body>
</html>